body{
  font-family: 'Lato', sans-serif !important;
 }
  /* classes globais */
  .color-gold {
    color: #FFC107;
  }

  .color-green{
    background-color: #5d6e80;
  }


.logo {
  font-family: 'Courgette' ;
   color: gold;
font: bold;
}
  .logo h2 {
    font-size: 30px;
  }

  .logo-inicial {
    color: #FFC107;
   align-items: center;
    display: flex;
    height: 50vh;
    width: 100vw;
  }

 .tela-inicial{
  background-image: url("../assets/images4.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	align-items: center;
	display: flex;
	height: 80vh;
	width: 100vw;
}

/* Tela-principal */
 

/* mapa */
.map {
  height: 30%;
  width: 50%;
}
.logo {
  font-size: 42px;
}

 
.box-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  display: none;
}
 
/*SEÇÂO FORMULARIO*/

.section-form {
  display: flex;
  justify-content: center;
}

input {
  width: 35%;
}
 

 .container-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .container-img img {
    width: 230px;
    height: 160px;
  }
 /* modal */
  .modal-content{
    width: 400px;
  }
  .modal-style{
    font-size: 25px;
  
  }
   


 /* icons */
 .fa-search{
color: gold;  
 }